################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreIdentitySample/.vs/AspNetCoreIdentitySample/v15/Server/sqlite3
